# 环境模式
# local | dev | prod
# 默认建议先用 local，开发联调时切到 dev，上线前保留 prod 占位

# 本地调试
VITE_APP_ENV=local
VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_INVITE_WEB_BASE_URL=http://127.0.0.1:5174

# 线上测试环境
# VITE_APP_ENV=dev
# VITE_API_BASE_URL=http://156.238.241.213:8000
# VITE_INVITE_WEB_BASE_URL=http://156.238.241.213:5174

# 部署环境预留
# VITE_APP_ENV=prod
# VITE_API_BASE_URL=
# VITE_INVITE_WEB_BASE_URL=
